html {
  font-family: Verdana;
  background-color: black;
  color: white;
  text-align: center;
}



a {
  font-size: 16px;
  color: Aquamarine;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42 px;
  font-wight: 300;
}

h3 {
  font-size: 23px;
  color: gray;
}

P {
  color: gray;
  font-size: 23px;
  text-align: right;
}
